name: CD Pipeline

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    
    steps:
      - uses: actions/checkout@v3
      
      - name: 'Simulate Azure login (for demonstration purposes)'
        run: echo "Would normally log in to Azure here"
    
      - name: 'Simulate AKS context setup'
        run: echo "Would normally set up Kubernetes context here"
    
    #   - name: Install Azure CLI
    #     run: |
    #       curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash
      
    #   - name: 'Azure login'
    #     uses: azure/login@v1
    #     with:
    #       client-id: ${{ secrets.AZURE_CLIENT_ID }}
    #       tenant-id: ${{ secrets.AZURE_TENANT_ID }}
    #       subscription-id: '7f392766-73b8-4ab2-98c9-3a24ca1207ea'
      
    #   - name: Set AKS context
    #     run: |
    #       az aks get-credentials --resource-group plop-new --name ip-app-default
      
      - name: Install Helm
        uses: azure/setup-helm@v3
        with:
          version: 'latest'
      
      - name: Deploy application
        run: |
          # Mettre à jour l'image dans values.yaml avec le tag spécifique
          sed -i "s|repository: .*|repository: ${{ secrets.DOCKERHUB_USERNAME }}/flask-my-ip-app|g" flask-app/values.yaml
          sed -i "s|tag: .*|tag: \"latest\"|g" flask-app/values.yaml
          
          # Déployer l'application avec Helm
          helm upgrade --install flask-application ./flask-app
